html {
	font-family: 'Roboto', sans-serif;
}

a, img, p, h1, h2, h3 {
	margin: 0;
	padding: 0;
	user-select: none;
}

a {
	color: inherit;
	text-decoration: none;
	transition:background-color 350ms ease-out, color 350ms ease-out;
}

.App {
	background: url('assets/biche.jpg');
	background-position: center center;
	background-size: cover;
	position:absolute;
	left:0;
	top:0;
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.AppContact {
	letter-spacing: 5px;
	display: inline-block;
	color: #FFF;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	padding: 10px;
	border:2px solid #E012AA;
}

.AppContact:hover {
	background-color: rgba(0, 0, 0, .4);
}

.AppLogo {
	width:80vw;
	max-width:600px;
}

.AppBaseline {
	margin-top:20px;
	letter-spacing: 5px;
	color: #12D8CE;
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
}
